body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #aef79c;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #eee275;
    padding: 20px;
}
h1 {
    text-align: center;
    color: #b72222;
}
p {
    text-align: justify;
    color: #555555;
}
form {
    margin-top: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
}
input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
}
textarea {
    height: 100px;
    resize: vertical;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #45a049;
}